<h1 class="text-center">Access denied</h1>
<div class="text-center">

<p>You cannot view this content.</p>
    <button onclick="window.history.go(-1)" class="btn btn-lg btn-primary">Go back</button>
</div>
