html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.custom-label {
    font-size: 20px;
}

.custom-checkbox-container > input {
    margin-top: 0.25em;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.custom-checkbox {
    width: 30px;
    height: 30px;
    background-color: #fff;
}

    .custom-checkbox:checked {
        background-color: forestgreen;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
    }

.custom-checkbox-label {
    font-size: 16px;
    padding: 10px 0px;
    margin: 0px 0px 0px 5px;
}

.basic-transition {
    transition: ease-in-out;
    transition-delay: 0.2s;
}

.custom-divider {
    opacity: 1;
    border: 8px solid black;
    border-radius: 2px;
}

.custom-border-black-blue {
    border: 3px solid black;
    border-radius: 5px;
}

    .custom-border-black-blue:hover {
        border: 3px solid blue;
        border-radius: 5px;
    }

.custom-border-white-blue {
    border: 3px solid white;
    border-radius: 5px;
}

    .custom-border-white-blue:hover {
        border: 3px solid blue;
        border-radius: 5px;
    }

.custom-border-white-yellow {
    border: 3px solid white;
    border-radius: 5px;
}

    .custom-border-white-yellow:hover {
        border: 3px solid #b58900;
        border-radius: 5px;
    }

.custom-border-white-lightblue {
    border: 3px solid white;
    border-radius: 5px;
}

    .custom-border-white-lightblue:hover {
        border: 3px solid #57b8d5;
        border-radius: 5px;
    }

.custom-avatar-img {
    width: 50px;
    height: 50px;
}

/*.custom-dropdown .custom-dropdown-item {
    display: flex;*/
/*position: relative;*/
/*justify-content: center;
}*/

.custom-dropdown-item a {
    /*display: block;*/
    text-decoration: none;
}

.custom-dropdown-menu {
    position: absolute;
    z-index: 999;
    display: none;
    top: 80%;
    border: 3px solid black;
    padding-left: 0px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.8);
}

    .custom-dropdown-menu.custom-show-dropdown {
        display: block;
    }
