@media screen and (max-width: 1114px) {
    article .vehicle-image-container img {
        height: 350px !important;
        width: 400px !important;
    }

    article ul li h5 {
        font-size: 14px;
    }

    article div span i {
        font-size: 25px !important;
    }

    article h2 {
        font-size: 17px;
    }

    article h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 960px) {
    article .vehicle-image-container img {
        height: 250px !important;
        width: 300px !important;
    }

    article ul li h5 {
        font-size: 11px;
    }

    article div .m-2 {
        margin: 0px !important;
    }

    article div span i {
        font-size: 15px !important;
    }

    article h2 {
        font-size: 14px;
    }

    article h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    article .vehicle-image-container img {
        height: 200px !important;
        width: 200px !important;
    }

    article ul li h5 {
        font-size: 9px;
    }

    article div .m-2 {
        margin: 0px !important;
    }

    article div span i {
        font-size: 10px !important;
    }

    article h2 {
        font-size: 12px;
    }

    article h3 {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    article .vehicle-image-container img {
        height: 150px !important;
        width: 150px !important;
    }

    article.mx-5 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    h2,h3,h5.mt-3 {
        margin-top: 10px !important;
    }

    h2,h3,h5.mb-3 {
        margin-top: 10px !important;
    }

    section .p-2 {
        padding: 0px !important;
    }

    article ul {
        padding: 0px;
        margin-bottom:0px;
    }

        article ul li::marker {
            font-size: 5px;
        }

        article ul li h5 {
            font-size: 6px;
        }

    article div .m-2 {
        margin: 0px !important;
    }

    article div span i {
        font-size: 4px !important;
    }

    article h2 {
        font-size: 7px;
    }

    article h3 {
        font-size: 6px;
    }
}
