@model IEnumerable<ReviewListModel>
@{
    ViewData["Title"] = "Home Page";
}


<section class="container d-flex flex-column justify-content-evenly align-items-center text-white">
    <h1 class="text-center display-4">Welcome to Car sales!</h1>
    <div class="w-100 h-100">
        <partial name="_ReviewHighlightedPartial" model="ViewBag.NewestVehicleReview" />
    </div>
    <div class="d-flex justify-content-center bg-white bg-opacity-75 rounded-3 w-100 h-100">
        <h4 class="d-inline p-1 text-dark rounded-3 text-uppercase text-bold text-black mt-3 mb-3">
            Latest reviews
        </h4>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 w-100 h-100">
        @foreach (var review in Model)
        {
            <partial name="_ReviewPartial" model="review" />
        }
    </div>
</section>
<script src="~/js/Home/index.js"></script>