@using CarSales.Infrastructure.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService userService
@inject INotificationService notificationService
@{
    var userNavbarModel = await userService.GetUserNavbarModelAsync(User.Id());
    var hasUnreadNotifications = await notificationService.DoesUserHaveUnreadNotificationsAsync(User.Id());
}
<input id="areaInput" value="Owner" hidden readonly/>
<ul class="navbar-nav me-5 d-flex align-items-lg-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link active" disabled><span id="userCredits">@userNavbarModel.Credits</span> credits</a>
        </li>
        <li class="nav-item" id="notificationsListItem">
            <div class="dropdown" id="notificationsDiv">
                <a class="nav-link text-dark" href="#" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi @(hasUnreadNotifications ? "bi-bell-fill" : "bi-bell") w-100 h-100 fs-1"></i>
                </a>
                <ul id="notificationsList" class="dropdown-menu mt-3 mb-3" aria-labelledby="dropdownMenuLink">
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <partial name="_MyProfilePartial" model="@userNavbarModel"></partial>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
        </li>
    }
</ul>

<script src="~/js/Notifications/notificationsLoginPartial.js"></script>
