@using CarSales.Infrastructure.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

    string defaultImage = $"/img/Profile/{user.Gender}Profile.png";
    string profilePicture = user.ImageUrl != null ? user.ImageUrl : defaultImage;
}
<ul class="navbar-nav me-5 d-flex align-items-lg-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link active" disabled><span id="userCredits">@user.Credits</span> credits</a>
        </li>
        <li class="dropdown">
            <a class="d-flex align-items-center m-1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="custom-avatar-img border border-1 border-info rounded-circle" src="@profilePicture" />
            </a>
            <div class="dropdown-menu">
                <a class="nav-link active" asp-area="Owner" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link active" asp-area="Owner" asp-controller="Vehicles" asp-action="Mine">My Vehicles</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link active" asp-area="Owner" asp-controller="Offers" asp-action="Outgoing">My Offers</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
        </li>
    }
</ul>
