@using CarSales.Infrastructure.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService userService
@{
    var userNavbarModel = await userService.GetUserNavbarModelAsync(User.Id());
}
<input id="areaInput" value="Owner" hidden readonly/>
<ul class="navbar-nav me-5 d-flex align-items-lg-center gap-3">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link active" disabled><span id="userCredits">@userNavbarModel.Credits</span> credits</a>
        </li>
        <li class="nav-item custom-dropdown d-flex justify-content-lg-center align-items-center" id="notificationsDropdownListItem">
                <button class="nav-link text-dark" id="notificationsDropdownButton">
                <i id="notificationsDropdownIcon" class="bi fs-1"></i>
                </button>
            <ul class="custom-dropdown-menu bg-white mt-3 mb-3" id="notificationsDropdownList">
                </ul>
        </li>
        <li class="dropdown-center">
            <partial name="_MyProfilePartial" model="@userNavbarModel"></partial>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
        </li>
    }
</ul>

<script src="~/js/Notifications/notificationsLoginPartial.js"></script>
