@using CarSales.Infrastructure.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService userService
@{
    var userNavbarModel = await userService.GetUserNavbarModelAsync(User.Id());
}
<input id="areaInput" value="Importer" hidden readonly />
<ul class="navbar-nav me-5 d-flex align-items-md-center align-items-start">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link active" disabled><span id="userCredits">@userNavbarModel.Credits </span>credits</a>
        </li>
        <li class="dropdown">
            <partial name="_MyProfilePartial" model="userNavbarModel"/>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
        </li>
    }
</ul>
