@{
    ViewData["Title"] = "Notifications";
}
<h1 class="text-center text-white mt-3 mb-5">Notifications</h1>
<section id="notificationsSection" class="container d-flex flex-column align-content-center gap-2">
    <h2 id="noNotificationsHeading" class="text-center text-white mt-3 mb-3 d-none">You have no notifications!</h2>
</section>

<script src="~/js/Notifications/index.js"></script>