@using CarSales.Infrastructure.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

    string defaultImage = $"/img/Profile/{user.Gender}Profile.png";
    string profilePicture = user.ImageUrl != null ? user.ImageUrl : defaultImage;
}
<ul class="navbar-nav me-5 d-flex align-items-md-center align-items-start">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" disabled><span id="userCredits">@user.Credits </span>credits</a>
        </li>
        <li class="dropdown">
            <a class="d-flex align-items-center m-1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="custom-avatar-img border border-1 border-info rounded-circle" src="@profilePicture" />
            </a>
            <div class="dropdown-menu">
                <a class="nav-link" asp-area="Salesman" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">My Profile</a>
                <div class="dropdown-divider"></div>
                <h5 class="p-2 text-light">My Vehicles</h5>
                <a class="nav-link" asp-area="Salesman" asp-controller="Vehicles" asp-action="Mine">Owned</a>
                <a class="nav-link" asp-area="Salesman" asp-controller="Vehicles" asp-action="MyVehiclesOnSale">On Sale</a>
                <div class="dropdown-divider"></div>
                <h5 class="p-2 text-light">My Offers</h5>
                <a class="nav-link" asp-area="Salesman" asp-controller="Offers" asp-action="Outgoing">Outgoing</a>
                <a class="nav-link" asp-area="Salesman" asp-controller="Offers" asp-action="Incoming">Incoming</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
            </div>
        </li>

    

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
        </li>
    }
</ul>
